* {
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    justify-content: center;
    border-bottom: 12px solid salmon;
  }

  .container{
      display: flex;
  }

  .title{
      display: flex;
      align-items: center;
  }
  
  header img {
    height: 100px;
    width: 100px;
  }
  
  header .name {
    padding: 22px 0;
  }
  
  footer {
    border-top: 12px solid salmon;
    display: flex;
    justify-content: center;
  }

  table{
      border: 2px solid #000;
      border-collapse: collapse;
  }

  tr, th, td{
     
      border: 2px solid #000;
  }

  thead{
    background-color: #757073;
  }

  tbody tr:nth-child(odd) {
    background-color: #c0bbbe;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f8eaf8;
  }

  a{
    text-decoration: none;
    color: #444;
  }